.App {
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
}
#navbar {
  background-color: black;
  height: 120px;
}

#ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

#ul div:hover{
  text-decoration: underline;
  cursor: pointer;
}

#logo{
  display: inline-block;
  overflow: hidden;
}
#logo img{
  display: block;
  width: 120px;
  transform: transform .5s;
}
#logo:hover img{
  transform: scale(1.3);
  transform-origin: 50% 50%;
}
.Slideshow{
  margin: 20px auto;
  width: 70%;
  display: flex;
  align-items: center;
}
.Slideshow >img{
  /* height: 390px; */
  width: 100%;
}
.slide-btn{
  padding: 10px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  cursor: pointer;
}